.car_photo {
	height:auto;
}

.car_photos {
	position: absolute;
	top:0;
	left:0;
	height:331px;
	opacity:0.0;
	
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
	filter: alpha(opacity=00);
	-moz-opacity: 0.0;
	-khtml-opacity: 0.0;
}

	
#car_wrap {
	position: relative;
	width:666px;
	overflow:hidden;
	height:440px;
	border-bottom: 1px solid #cccdcd;
}



.car_panel {
}



#car_panels {
	display: none;
}



#car_wrap .car_caption {
	width:100%;
	margin: 0px;
	min-height: 68px;
	position: absolute;
	
	bottom: 109px;
	//top: 263px;
	left: 0;
	
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.7);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3FFFFFF, endColorstr=#B3FFFFFF);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3FFFFFF, endColorstr=#B3FFFFFF)";


}


#car_wrap .car_caption_content {
	margin: 12px 0 12px 13px;
	padding: 0;
}

.car_nav {
	position: absolute;
	display:block;
	top:331px;
}

.car_nav a {
	display:inline-block;
	width: 159px;
	margin-right:10px;
	height:109px;
	background: none;
	cursor: pointer;
	
}

.car_nav a:last-child {
	margin-right:0px;
	
}

.car_nav a img {
	width:159px;
	height:79px;
	margin-top:10px;
}


.car_nav a.selected {
	background: url('../images/photos/car_thumb_active.gif') no-repeat top center;
	cursor: auto;
	
}

.car_nav a.selected img { border:
	3px solid #0084d9;
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	}
	

/* Text Controls */

body {
	font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif; 
	font-size: 62.5%; 
	color: #282b2e;
} 



.car_caption p {
	font-size: 1.4em;
	//line-height: 1.7em;
	font-weight:100;
	margin: 0px;
	padding:0;
	}


.car_caption h2 {
	font-size: 2.4em;
	font-weight:400;
	text-transform: uppercase;
	padding:0;
	margin:0;

}
.car_caption a {

}

.car_caption a:hover {

}

