/* Essential structure for the layout */
	
* {
	margin: 0px;
}

html, body {
	height: 100%;
	margin: 0px;
	position:relative;
}

.wrapper {
	display: table;
	width: 100%;
}

html>body .wrapper {
	height: 100%;
}

.row {
	display: table-row;
	height: 1px;
	overflow: hidden;
}

html>body .row.expand {
	height: auto;
}

#nav ul li {
	display:inline-block;
}

.bumper {
	margin: 10px;
}

#site-description, .skip_button, .accessible {
	position:fixed;
	display:block; 
	text-indent: -9999px;
}
